<body>
    <div class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Username</div>
                        <div class="item-input">
                            <input type="text" name="Username">
                        </div>
                    </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Password</div>
                        <div class="item-input">
                            <input type="password" name="Password">
                        </div>
                    </div>
            </li>
        </ul>
        </div>

</body>