<div class="btn-group btn-group-vertical">

  <form class="form-inline">
    <button class="btn btn-small  mb-2 mr-sm-2" type="button" id="clearConsole">
      <em class="glyphicon glyphicon-align-left"></em> Clear window
    </button>


    <input type="text" class="form-control  mb-2 mr-sm-2" id="consoleCommand" placeholder="Enter command">


    <button class="btn btn-small  mb-2 mr-sm-2" type="submit" id='execCommand'>
      <em class="glyphicon glyphicon-align-left"></em> Exec
    </button>
  </form>

</div>
