<div class="console-window bg-dark text-white">
  *** STARTING CONSOLE ***
</div>


<script>
  $(document).ready(function () {
    let sdtdConsoleWindow = new sdtdConsole(<%= server.id %>)
    $('#console-pause').click((event) => {
      event.preventDefault();
      if (sdtdConsoleWindow.status) {
        sdtdConsoleWindow.stop();
        $('#console-pause').html('Unpause')
      } else {
        sdtdConsoleWindow.start();
        $('#console-pause').html('Pause')
      }
    })

    $("#execCommand").click((event) => {
      event.preventDefault();
      let command = $("#consoleCommand").val();
      $("#consoleCommand").val('');
      sdtdConsoleWindow.executeCommand(command).then((response) => {
        response.msg = response.msg.replace(/(\r\n|\n|\r)/gm, "<br />");
        $('.console-window').append('<li class=\"log-line\">' + response.msg + '</li>');
      })
        .catch((error) => {
          $('.console-window').append('<li class=\"log-line text-danger\">' + error + '</li>');
        }).finally(() => {
          $('.console-window').scrollTop($('.console-window')[0].scrollHeight);
        })
    })

    $("#clearConsole").click((event) => {
      event.preventDefault();
      window.localStorage.removeItem(`consoleMessages-${window.SAILS_LOCALS.server.id}`)
      $(".console-window").empty();
    })
  })

</script>