<%- exposeLocalsToBrowser() %>

<div class="row">
    <h1>Economy overview for
        <%= server.name %>
    </h1>
</div>

<h2>Settings</h2>

<div class="row">


    <div class="col-4">
        <h3>Modules</h3>
        <div class="list-group">
                <button id="economy-button-enable-playtimeEarner" type="button" class="list-group-item list-group-item-action bg-success">Enable playtime earner</button>
                <button id="economy-button-disable-playtimeEarner" type="button" class="list-group-item list-group-item-action bg-warning">Disable playtime earner</button>
        </div>

    </div>
    <div class="col-4">

    </div>
    <div class="col-4">

    </div>
</div>

<h2>Economy logs</h2>

<div class="row">

</div>

<script>

    $(document).ready(function () {

        if (window.SAILS_LOCALS.config.playtimeEarnerEnabled) {
            $('#economy-button-enable-playtimeEarner').hide();
                    
        } else {
            $('#economy-button-disable-playtimeEarner').hide();
        }


        $('#economy-button-enable-playtimeEarner').click(e => {
            e.preventDefault();
            $.ajax({
                url: '/api/sdtdserver/economy/module',
                method: 'POST',
                data: {
                    _csrf: window.SAILS_LOCALS._csrf,
                    serverId: window.SAILS_LOCALS.server.id,
                    moduleType: 'playtimeEarner'
                },
                success: (data, status, xhr) => {
                    $('#economy-button-enable-playtimeEarner').fadeOut();
                    $('#economy-button-disable-playtimeEarner').fadeIn();
                    console.log(data)
                },
                error: (xhr, status, error) => {
                    console.log(error)
                }
            })
        })

        $('#economy-button-disable-playtimeEarner').click(e => {
            e.preventDefault();
            $.ajax({
                url: '/api/sdtdserver/economy/module',
                method: 'DELETE',
                data: {
                    _csrf: window.SAILS_LOCALS._csrf,
                    serverId: window.SAILS_LOCALS.server.id,
                    moduleType: 'playtimeEarner'
                },
                success: (data, status, xhr) => {
                    $('#economy-button-enable-playtimeEarner').fadeIn();
                    $('#economy-button-disable-playtimeEarner').fadeOut();
                    console.log(data)
                },
                error: (xhr, status, error) => {
                    console.log(error)
                }
            })
        })


    })

</script>