<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">CSMM</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

            <li class="nav-item">
                <a class="nav-link" href="/sdtdserver/addserver">
                    <i class="fas fa-plus"></i> Add a server
                </a>
            </li>

            <li class="nav-item">
                <a id="user-dashboard-link" class="nav-link" href="/user/<%= req.session.userId %>/dashboard">
                    <i class="fas fa-list-ul"></i> Server overview
                </a>
            </li>


            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">

                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
                    <i class="fas fa-server"></i>
                    <span class="nav-link-text">Your servers</span>
                </a>

                <ul class="sidenav-second-level collapse" id="collapseMulti">

                </ul>
            </li>

        </ul>

        <!-- Vertical Nav -->
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a target="_blank" class="nav-link" href="http://csmm.readthedocs.io">
                    <i class="fas fa-life-ring"></i> Documentation
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/user/<%= req.session.userId %>/profile">
                    <i class="fas fa-user-circle"></i> Your profile
                </a>
            </li>

            <a class="nav-link" id="logout-button" href="/auth/logout">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>


            <li class="nav-item">
                <a class="nav-link" href="/donate">
                    <i class="fas fa-donate"></i> Donate
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/sponsors/ldh">
                    <i class="fab fa-angellist"></i>
                    </i> Our friends
                </a>
            </li>


        </ul>

    </div>



</nav>


<script>
    $(document).ready(() => {
        let loggedInUserId = <%- req.session.userId %>;

        $.ajax({
            url: "/api/user/ownedservers",
            data: {
                userId: loggedInUserId
            },
            success: (data) => {
                for (const server of data) {
                    const dashboardLink = '/sdtdserver/' + server.id + '/dashboard'
                    const settingsLink = '/sdtdserver/' + server.id + '/settings'
                    const ticketsLink = '/sdtdserver/' + server.id + '/tickets'
                    const economy = '/sdtdserver/' + server.id + '/economy'
                    const analytics = '/sdtdserver/' + server.id + '/analytics'
                    const playersLink = '/sdtdserver/' + server.id + '/players'

                    let serverNavBarEntry = $('#collapseMulti').append(` <li>
    <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#server-${server.id}-nav">${server.name}</a>
    <ul class="sidenav-third-level collapse" id="server-${server.id}-nav">
        <li>
                <a href='${dashboardLink}'>
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
        </li>
        <li>

                <a href='${settingsLink}'>
                    <i class="fa fa-cog" aria-hidden="true"></i> Settings
                </a>
        </li>
        <li>
                <a href='${ticketsLink}'>
                    <em class="glyphicon glyphicon-align-justify"></em>
                    <i class="fas fa-question"></i> Support tickets
                    </span>
                </a>
        </li>
        <li>
        
                        <a href=" ${economy}" role="button">
                          <i class="far fa-money-bill-alt"></i> Economy</a>
        </li>
        <li>
                        <a href=" ${analytics}" role="button">
                          <i class="far fa-chart-bar"></i> Analytics</a>
        </li>
        <li>
                
                        <a href=" ${playersLink}" role="button">
                          <i class="far fa-address-card"></i> Players</a>
        </li>
    </ul>
</li>
                    `);
                }
            },
            error: (xhr, status, error) => {
                console.log(xhr)
            }
        })
    })

</script>