<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CSMM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-home"></i> Home
        </a>
      </li>

      <% 
            if (!_.isUndefined(req.session) ) {
          if (!_.isUndefined(req.session.userId)) {
            %>

        <li class="nav-item">
          <a id="user-dashboard-link" class="nav-link" href="/user/<%= req.session.userId %>/dashboard">
            <i class="fas fa-list-ul"></i> Server overview
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/sdtdserver/addserver">
            <i class="fas fa-plus"></i> Add a server
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/user/<%= req.session.userId %>/profile">
            <i class="fas fa-user-circle"></i> Your profile
          </a>
        </li>
        <li class="nav-item">
          <img id="steam-avatar" src="">
        </li>
        <a class="nav-link" id="logout-button" href="/auth/logout">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
        <% } else { %>
          <a class="nav-item" id="steam-login-button" href="/auth/steam">
            <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png">
          </a>
          <% } %>
            <% } %>
              <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://confluence.catalysm.net/x/DgAF">
                  <i class="fas fa-life-ring"></i> Documentation
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/donate">
                  <i class="fas fa-donate"></i> Donate
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/sponsors/ldh">
                  <i class="fab fa-angellist"></i>
                  </i> Our friends
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/stats">
                  <i class="fas fa-chart-line"></i>
                  </i> Stats
                </a>
              </li>


              
    </ul>

  </div>
</nav>


