<div class="row">
    <div class="col-4">
        <a href="https://www.patreon.com/catalysm">
            <img src="../../images/meta/patreon.png" width="50%">
        </a>
        <a href="https://www.paypal.me/catalysmdev">
            <img src="../../images/meta/paypal.png" width="50%">
        </a>

    </div>
    <div class="col-8" align='center'>
        <h1>Donate</h1>
        <p>CSMM is currently developed by one person! I spend alot of time working on this project in my free time, any type
            of support is very welcome! Donating helps pay for hosting costs and keeps me motivated.</p>

        <p>You can support me via Patreon, this is a monthly recurring payment with some benefits or a one time donation via
            Paypal </p>

            <p>If you can't support me financially, I'd love to hear from you via Discord if you like what I do! Come say hi! :) </p>
    </div>
</div>