<div class="container" align="center">
  <h1>Donate</h1>
  <p>CSMM is currently developed by one person! I spend alot of time working on this project in my free time, any type
    of
    support is very welcome! Donating helps pay for hosting costs and improving the application.</p>

  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0
          <small class="text-muted">/ mo</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>1 Server limit</li>
          <li>Player tracking data:</li>
          <li>Location data - 24 hours</li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Donator</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$3
          <small class="text-muted">/ mo</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>3 Server limit</li>
          <li>Early access to new features</li>
          <li>Player tracking data:</li>
          <li> Location data 3 days</li>
          <li>Inventory data 1 day</li>

        </ul>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Contributor</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$5
          <small class="text-muted">/ mo</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>4 Server limit</li>
          <li>Early access to new features</li>
          <li>Player tracking data:</li>
          <li>Location data 5 days</li>
          <li>Inventory data 3 days</li>

        </ul>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Sponsor</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$10
          <small class="text-muted">/ mo</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>5 Server limit</li>
          <li>Early access to new features</li>
          <li>Player tracking data:</li>
          <li>Location data 1 week</li>
          <li>Inventory data 5 days</li>

        </ul>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Free</th>
        <th>Donator</th>
        <th>Contributor</th>
        <th>Sponsor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Max servers</td>
        <td>1</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      <tr>
        <td scope="row">Max teleport locations</td>
        <td>3</td>
        <td>10</td>
        <td>25</td>
        <td>100</td>
      </tr>
      <tr>
        <td scope="row">Max custom commands</td>
        <td>10</td>
        <td>25</td>
        <td>75</td>
        <td>150</td>
      </tr>
      <tr>
        <td scope="row">Max cron jobs</td>
        <td>5</td>
        <td>20</td>
        <td>50</td>
        <td>100</td>
      </tr>
      <tr>
        <td scope="row">Max custom notifications</td>
        <td>3</td>
        <td>10</td>
        <td>25</td>
        <td>50</td>
      </tr>
      <tr>
        <td scope="row">Location tracking data kept for</td>
        <td>24 hours</td>
        <td>3 days</td>
        <td>5 days</td>
        <td>1 week</td>
      </tr>
      <tr>
        <td scope="row">Inventory tracking data kept for</td>
        <td>N/a</td>
        <td>1 day</td>
        <td>3 days</td>
        <td>5 days</td>
      </tr>
    </tbody>
  </table>

  <a target="_blank" type="button" href="https://www.patreon.com/bePatron?c=1523282" class="btn btn-primary btn-lg">Donate</a>

</div>
