<div class="row">
    <div class="col-4">
        <a target="_blank" href="https://www.patreon.com/catalysm">
            <img src="../../images/meta/patreon.png" width="50%">
        </a>
        <a target="_blank" href="https://www.paypal.me/catalysmdev">
            <img src="../../images/meta/paypal.png" width="50%">
        </a>

    </div>
    <div class="col-8" align='center'>
        <h1>Donate</h1>
        <p>CSMM is currently developed by one person! I spend alot of time working on this project in my free time, any type
            of support is very welcome! Donating helps pay for hosting costs and keeps me motivated.</p>

        <p>You can support me via
            <a target="_blank" href="https://www.patreon.com/catalysm">
                Patreon
            </a>, this is a monthly recurring payment with some benefits or a one time donation via
            <a target="_blank" href="https://www.paypal.me/catalysmdev">
                Paypal
            </a>
        </p>

        <h2>Donator features</h2>

        <p>Donators will get some extra perks when using CSMM.
            <ul style="list-style-type: none;">
                <li>Early access to new features</li>
                <li>Priority support</li>
                <li>Special discord roles</li>
            </ul>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Free</th>
                    <th>Donator</th>
                    <th>Contributor</th>
                    <th>Sponsor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">Servers allowed on CSMM</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td scope="row">Analytics data kept for</td>
                    <td>12 hours</td>
                    <td>3 days</td>
                    <td>5 days</td>
                    <td>1 week</td>
                </tr>
                <tr>
                    <td scope="row">Max custom commands</td>
                    <td>3</td>
                    <td>10</td>
                    <td>20</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td scope="row">Max automation jobs</td>
                    <td>5</td>
                    <td>20</td>
                    <td>50</td>
                    <td>100</td>
                </tr>


            </tbody>
        </table>
    </div>
</div>