<div class="card">
  <div class="card-body">
    <h5 class="card-title">Latest changes</h5>

    <%- include('./versions/0.4.2.ejs') %>
  </div>
  <div class="card-footer text-muted">
    <a class="btn btn-link" href="/changelog">View full changelog</a>
  </div>
</div>
