<div class="container ">

  <div class="row justify-content-center">

    <div class="main">
      <h1>
        Something's fishy here.
      </h1>
      <h2>
        <% if (typeof error !== 'undefined') { %>
          <%= error %>
            <% } else { %>
              The page you were trying to reach doesn't exist.
              <% } %>
      </h2>
      <p class="help">
        Visit our
        <a href="https://discordapp.com/invite/EwyDdNA">support</a> to know why this might this be happening
      </p>
    </div>

    <div>
      <a href="/">
        <img alt="csmm logo" src="/images/meta/CSMM_Blue-1.png">
      </a>
    </div>

  </div>
</div>


