<html>

<head>


</head>

<body>
    <h1>Add a server</h1>
    <form>
        <ul>
            <li><input type="text" name="IP" placeholder="IP address"></li>
            <li><input type="text" name="TelnetPort" placeholder="Telnet port"></li>
            <li><input type="text" name="TelnetPassword" placeholder="Telnet password"></li>
        </ul>
        <input type="submit" value="Add Server">
    </form>
</body>

</html>