<html>

<head>


</head>

<body>
    <div class="container-wrapper">
        <div class="content">
            <h1>Add a server</h1>
            <form class="pure-form">
                <ul>
                    <li><input type="text" name="IP" placeholder="IP address"></li>
                    <li><input type="text" name="TelnetPort" placeholder="Telnet port"></li>
                    <li><input type="text" name="TelnetPassword" placeholder="Telnet password"></li>
                </ul>
                <button class="pure-button pure-button-primary">Add server</button>
            </form>
        </div>
    </div>
</body>

</html>