<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Catalysms server monitor and manager</h1>
            <p class="splash-subhead">
                Makes administrating a 7 Days to Die server a piece of cake
            </p>
            <p>
                <a href="/addserver/" class="pure-button pure-button-primary">Get Started</a>
            </p>
        </div>
    </div>

    </div>

    </div>




</body>

</html>