<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">7 Days to die server manager</h1>
    <p class="lead">Makes managing your server a piece of cake!</p>
  </div>
</div>
</body>