<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">7 Days to die server manager</h1>
        <p class="lead">Makes managing your server a piece of cake!</p>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Beta test</h5>
          This application is currently in closed beta. Apply to become a tester
          <a href="https://goo.gl/forms/BrevGYqgt651ePOX2">here</a>
        </div>
      </div>


    </div>
  </div>

  <div class="row">
    <div class="col-12" align='center'>
      <h2> Our partners: </h2>
      <br>
      <a href="/sponsors/ldh">
        <img src="/images/meta/letsdohostinglogo.png" width="10%">
        <br>
        LetsDoHosting
      </a>
    </div>
  </div>

</div>
