  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">7 Days to die server manager</h1>
        <p class="lead">Makes managing your server a piece of cake!</p>
      </div>
      <%- include('meta/latestChanges') %>
    </div>


