<body>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Catalysms Server Monitor &amp; Manager</h1>
          <h2>7 Days To Die server manager</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <a href="/sdtdserver/addserver" class="btn btn-block btn-lg btn-primary">Get started</a>
        </div>
      </div>
      <div id="system-stats">

      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-cloud m-auto text-primary"></i>
            </div>
            <h3>Cloud hosted</h3>
            <p class="lead mb-0">You don't need to get a new VPS or figure out how to install a new mod on your server. Fill in your connection
              details and you're ready!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-cogs m-auto text-primary"></i>
            </div>
            <h3>Fully customizable</h3>
            <p class="lead mb-0">Make your server manager do what you want it to!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="far fa-money-bill-alt m-auto text-primary"></i>
            </div>
            <h3>Free</h3>
            <p class="lead mb-0">CSMM costs you nothing! While donators have access to extended features, free users can expect a fully featured
              server manager.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/images/meta/feature-discord.png');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Discord integration</h2>
          <p class="lead mb-0">Chat between Discord and your server via chatbridge. Execute commands on your server from Discord, let your players
            view their stats without logging in. See the documentation for a full list!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('/images/meta/feature-dashboard.png');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Web interface</h2>
          <p class="lead mb-0">All configuration is done via the website, no more messing with XMLs! Access the website anywhere, via PC, mobile,
            tablet or any other device.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/images/meta/feature-ingame.png');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Ingame features</h2>
          <p class="lead mb-0">CSMM has many ingame features to enhance the experience of your players. Server automation enables you to execute
            any command at any time interval. Player teleportation, call admin command and much more.</p>
        </div>
      </div>
    </div>
  </section>


  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started?</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <a href="/sdtdserver/addserver" class="btn btn-block btn-lg btn-primary">Add your server!</a>
        </div>
      </div>
    </div>
  </section>


</body>


<script>

  $(document).ready(() => {

    $.get('/api/stats', (stats) => {

      let statsString = `${stats.servers} servers - ${stats.players} players - ${stats.guilds} Discord guilds`;
      $('#system-stats').text(statsString)

    })

  })

</script>

</html>