<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">7 Days to die server manager</h1>
        <p class="lead">Makes managing your server a piece of cake!</p>
      </div>

    </div>
  </div>

  <div class="row">

    <h2>Beta test</h2>
  </div>

  <div class="row">
    <p> This application is currently in beta. It is highly recommended to join the
      <a href="https://discordapp.com/invite/kuDJG6e">discord server</a> and follow updates</p>
  </div>

  <div class="row">
    <div id="carousel-features" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-features" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-features" data-slide-to="1"></li>
        <li data-target="#carousel-features" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img id='img-feature-discord' src="../../images/meta/feature-discord-blurred.png" alt="First slide">
          <div class="carousel-caption d-none d-md-block feature-text">
            <h3>Discord integration</h3>
            <p>CSMM connects your server to Discord via a chatbridge and notifies you when certain events occur. </p>
          </div>
        </div>
        <div class="carousel-item">
          <img id='img-feature-dashboard' src="../../images/meta/feature-dashboard-blurred.png" alt="Second slide">
          <div class="carousel-caption d-none d-md-block feature-text">
            <h3>Powerful web interface</h3>
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <img id='img-feature-playerOverview' src="../../images/meta/feature-playerOverview-blurred.png" alt="Third slide">
          <div class="carousel-caption d-none d-md-block feature-text">
            <h3>Player statistics</h3>
            <p></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel-features" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-features" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12" align='center'>
      <h2> Our partners: </h2>
      <br>
      <a href="/sponsors/ldh">
        <img src="../../images/meta/letsdohostinglogo.png" width="10%">
        <br> Lets DO Hosting
      </a>
    </div>
  </div>

</div>

<style>
  .feature-text {
    -webkit-text-stroke: 1px black;
    font-size: 200%;
  }

  h3 {
    font-size: 200%;
  }
</style>

<script>
  $(document).ready(e => {

    let discordHover = true;
    let dashboardHover = true;
    let playerOverviewHover = true;

    $('#img-feature-discord').hover(e => {
      let element = $('#img-feature-discord')
      discordHover = discordHover ? false : true;
      if (discordHover) {
        element.attr('src', "../../images/meta/feature-discord-blurred.png")        
      } else {
        element.attr('src', "../../images/meta/feature-discord.png")  
      }
    })
    
    $('#img-feature-dashboard').hover(e => {
      let element = $('#img-feature-dashboard')
      discordHover = discordHover ? false : true;
      if (discordHover) {
        element.attr('src', "../../images/meta/feature-dashboard-blurred.png")        
      } else {
        element.attr('src', "../../images/meta/feature-dashboard.png")  
      }
    })
    
    $('#img-feature-playerOverview').hover(e => {
      let element = $('#img-feature-playerOverview')
      discordHover = discordHover ? false : true;
      if (discordHover) {
        element.attr('src', "../../images/meta/feature-playerOverview-blurred.png")        
      } else {
        element.attr('src', "../../images/meta/feature-playerOverview.png")  
      }
    })


  })
</script>