<body>
    <h1>Log in</h1>
    <form class="pure-form" method="POST" action="/user">
        <fieldset>
            <input type="username" name="username">
            <input type="password" name="password">
            <input class="pure-button pure-button-primary" type="submit" value="submit">
        </fieldset>
    </form>

</body>