<body>
    <h1>Sign up</h1>
    <form class="pure-form" method="POST" action="/user">
        <input type="username" name="username">
        <input type="password" name="password">
        <input type="submit" value="submit">
    </form>

</body>