<div class="chat-window">
</div>

<script>
  $(document).ready(function () {

    let sdtdChatWindow = new sdtdChat(<%= server.id %>)

    $('#chat-message-form').submit((event) => {
      event.preventDefault();
      let chatMessageToSend = $("#chat-message-input").val();
      $("#chat-message-input").val('');
      sdtdChatWindow.sendMessage(chatMessageToSend,
        "<%= req.session.userId %>");
    })

  })

</script>
