<form id="chat-message-form">
  <div class="form-group">
    <input type="text" class="form-control" id="chat-message-input" placeholder="Enter message">
  </div>
  <input type="submit" class="fa fa-comments-o btn btn-primary" aria-hidden="true" id="send-message">
</form>
