<body>
    <h1>Log in</h1>
    <form class="pure-form" method="POST">
        <fieldset>
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <button class="pure-button pure-button-primary">Log in</button>
        </fieldset>
    </form>

</body>