<body>
    <h1>Sign up</h1>
    <form class="pure-form" method="POST">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <button class="pure-button pure-button-primary">Sign up</button>
    </form>

</body>