<div id="ldh-card" class="card">

  <div class="card-body">

    <p class="card-text">

      <div class="row text-center">

        <div class="col-4">
          <h1 class="card-title">Let's DO hosting</h1>
          Tired of looking for an honest and fair priced hosting provider?
          <br> Let's DO Hosting offers both, and so much more.
          <br>
        </div>
        <div class="col-4">
          <img width="25%" src="../../images/meta/letsdohostinglogo.png">
        </div>
        <div class="col-4">
          <ul style="list-style-type: none;">
            <strong>
              <li>Top of the line customer support.</li>
              <li>Pay by day, no contracts that force you to stay.</li>
              <li>All gameservers are 0.35€/day, no matter the amount of slots used. </li>
              <li>We have no conventional RAM and CPU limitations that force you pay extra for an identical service.
              </li>
            </strong>
          </ul>
          <br>


        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-primary">First 3 days FREE!</button>
        </div>
      </div>

    </p>
  </div>
</div>

<script>
  $(document).ready(e => {
    $("#ldh-card").click(e => {
      window.open("https://letsdohosting.com/?p=Register&ref=Catalysm")
    })
  })

</script>
