<!-- COMMANDS SETTINGS -->

<div class="container">

  <h2>CPM version :
    <% if(cpmVersion) { %>
    <%= cpmVersion %>
    <% } else { %>
      <p>Not installed! Check <a href="https://confluence.catalysm.net/display/CPM" target="_blank">here</a> for more info </p> 
    <% } %>
  </h2>

  <div>

    CSMM Patron's Mod (CPM) is a gift to all those that support Catalysm's Server Manager and Monitor by becoming a
    patron or direct donator. Support and feature requests are only available to those supporters, but anyone can
    download and use. CPM is a forked extension of Coppi's Mod, extending the functionality of existing commands, and
    adding
    new commands and features.

    For more info and install instructions, see the <a href="https://confluence.catalysm.net/display/CPM" target="_blank">CPM
      documentation</a>

  </div>

  <hr>

  <div class="form-group">
    <label for="settings-cpm-prefix">CPM chat commands prefix</label>
    <input type="text" class="form-control" name="settings-cpm-prefix" id="settings-cpm-prefix" aria-describedby="settings-cpm-prefix-help"
      placeholder="">
    <small id="settings-cpm-prefix-help" class="form-text text-muted">The prefix used to trigger CPM chat commands</small>
  </div>

  <div class="form-group">
    <label for="settings-cpm-hideChatcommand">Hide chat commands</label>
    <input type="text" class="form-control" name="settings-cpm-hideChatcommand" id="settings-cpm-hideChatcommand"
      aria-describedby="settings-cpm-hideChatCommand-help" placeholder="">
    <small id="settings-cpm-hideChatCommand-help" class="form-text text-muted">Messages starting with this prefix will
      not show up in the general chat of your server. Separate multiple prefixes with ,</small>
  </div>

  <div class="form-group">
    <label for="settings-cpm-serverChatName">Server chat name</label>
    <input type="text" class="form-control" name="settings-cpm-serverChatName" id="settings-cpm-serverChatName"
      aria-describedby="settings-cpm-serverChatName-help" placeholder="">
    <small id="settings-cpm-serverChatName-help" class="form-text text-muted">Set server chatname globally.</small>
  </div>

  <hr>

  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name="settings-cpm-announceNightTime-enabled" id="settings-cpm-announceNightTime-enabled">
      Announce night time
    </label>
  </div>

  <div class="form-group">
    <label for="settings-cpm-announceNightTime-bloodMoonCycle">Blood moon cycle</label>
    <input type="text" class="form-control" name="settings-cpm-announceNightTime-bloodMoonCycle" id="settings-cpm-announceNightTime-bloodMoonCycle"
      aria-describedby="settings-cpm-announceNightTime-bloodMoonCycle-help" placeholder="">
    <small id="settings-cpm-announceNightTime-bloodMoonCycle-help" class="form-text text-muted">Configure the bloodmoon
      cycle in days.</small>
  </div>

  <div class="form-group">
    <label for="settings-cpm-announceNightTime-warnHours">Hours before warning</label>
    <input type="text" class="form-control" name="settings-cpm-announceNightTime-warnHours" id="settings-cpm-announceNightTime-warnHours"
      aria-describedby="settings-cpm-announceNightTime-warnHours-help" placeholder="">
    <small id="settings-cpm-announceNightTime-warnHours-help" class="form-text text-muted">Set the number of hours
      before 22:00 warning.</small>
  </div>

  <div class="form-group">
    <label for="settings-cpm-announceNightTime-announcer">Announcer</label>
    <input type="text" class="form-control" name="settings-cpm-announceNightTime-announcer" id="settings-cpm-announceNightTime-announcer"
      aria-describedby="settings-cpm-announceNightTime-announcer-help" placeholder="">
    <small id="settings-cpm-announceNightTime-announcer-help" class="form-text text-muted">Set the name of the
      announcer.</small>
  </div>

  <div class="form-group">
    <label for="settings-cpm-announceNightTime-nightTimeText">Night time text</label>
    <input type="text" class="form-control" name="settings-cpm-announceNightTime-nightTimeText" id="settings-cpm-announceNightTime-nightTimeText"
      aria-describedby="settings-cpm-announceNightTime-nightTimeText-help" placeholder="">
    <small id="settings-cpm-announceNightTime-nightTimeText-help" class="form-text text-muted">Set the text for
      nighttime warning. {hours} will be replaced by the warnhours setting.</small>
  </div>

  <div class="form-group">
    <label for="settings-cpm-announceNightTime-bloodDayText">Blood day text</label>
    <input type="text" class="form-control" name="settings-cpm-announceNightTime-bloodDayText" id="settings-cpm-announceNightTime-bloodDayText"
      aria-describedby="settings-cpm-announceNightTime-bloodDayText-help" placeholder="">
    <small id="settings-cpm-announceNightTime-bloodDayText-help" class="form-text text-muted">Set the text for
      announcing bloodmoon is tonight.</small>
  </div>

  <div class="form-group">
    <label for="settings-cpm-announceNightTime-bloodDayTomorrowText">Blood day tomorrow text</label>
    <input type="text" class="form-control" name="settings-cpm-announceNightTime-bloodDayTomorrowText" id="settings-cpm-announceNightTime-bloodDayTomorrowText"
      aria-describedby="settings-cpm-announceNightTime-bloodDayTomorrowText-help" placeholder="">
    <small id="settings-cpm-announceNightTime-bloodDayTomorrowText-help" class="form-text text-muted">Set the text for
      announcing bloodmoon is tomorrow.</small>
  </div>

  <div class="form-group">
    <label for="settings-cpm-announceNightTime-counterDayText">Bloodmoon counter text</label>
    <input type="text" class="form-control" name="settings-cpm-announceNightTime-counterDayText" id="settings-cpm-announceNightTime-counterDayText"
      aria-describedby="settings-cpm-announceNightTime-counterDayText-help" placeholder="">
    <small id="settings-cpm-announceNightTime-counterDayText-help" class="form-text text-muted">Set the text for normal
      bloodmoon counter text. {daysleft} will be replaced by remaining days.</small>
  </div>

  <hr>

  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name="settings-cpm-locTrack-enabled" id="settings-cpm-locTrack-enabled">
      CPM location tracking
    </label>
  </div>

  <div class="form-group">
    <label for="settings-cpm-locTrack-command">Command</label>
    <input type="text" class="form-control" name="settings-cpm-locTrack-command" id="settings-cpm-locTrack-command"
      aria-describedby="settings-cpm-locTrack-command-help" placeholder="">
    <small id="settings-cpm-locTrack-command-help" class="form-text text-muted">Define the ingame chatcommand (include
      the prefix).</small>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name="settings-cpm-locTrack-command-enabled" id="settings-cpm-locTrack-command-enabled">
      Enable/Disable ingame
      chatcommand for querying databases.
    </label>
  </div>

  <div class="form-group">
    <label for="settings-cpm-locTrack-interval">Interval</label>
    <input type="number" class="form-control" name="settings-cpm-locTrack-interval" id="settings-cpm-locTrack-interval"
      aria-describedby="settings-cpm-locTrack-interval-help" placeholder="">
    <small id="settings-cpm-locTrack-interval-help" class="form-text text-muted">Set the interval of recording
      locations (seconds).</small>
  </div>

  <div class="form-group">
    <label for="settings-cpm-locTrack-maxAgeData">Data maximum age</label>
    <input type="number" class="form-control" name="settings-cpm-locTrack-maxAgeData" id="settings-cpm-locTrack-maxAgeData"
      aria-describedby="settings-cpm-locTrack-maxAgeData-help" placeholder="">
    <small id="settings-cpm-locTrack-maxAgeData-help" class="form-text text-muted">Set the maximum time the data stays
      in databases (hours)(0=forever).</small>
  </div>

  <div class="form-group">
    <label for="settings-cpm-locTrack-nearDistance">Near distance</label>
    <input type="number" class="form-control" name="settings-cpm-locTrack-nearDistance" id="settings-cpm-locTrack-nearDistance"
      aria-describedby="settings-cpm-locTrack-nearDistance-help" placeholder="">
    <small id="settings-cpm-locTrack-nearDistance-help" class="form-text text-muted">Set the distance for use with
      chatcommand for reporting near live players.</small>
  </div>

  <div class="form-group">
    <label for="settings-cpm-locTrack-responseColor">Response color</label>
    <input type="text" class="form-control" name="settings-cpm-locTrack-responseColor" id="settings-cpm-locTrack-responseColor"
      aria-describedby="settings-cpm-locTrack-responseColor-help" placeholder="">
    <small id="settings-cpm-locTrack-responseColor-help" class="form-text text-muted">Set the responsecolor for use
      with chatcommand. Has to be 6 long hexadecimal number.</small>
  </div>

  <hr>

  <div class="form-group">
    <label for="settings-cpm-preventFallingBlocks">Prevent falling blocks</label>
    <input type="number" class="form-control" name="settings-cpm-preventFallingBlocks" id="settings-cpm-preventFallingBlocks"
      aria-describedby="settings-cpm-preventFallingBlocks-help" placeholder="">
    <small id="settings-cpm-preventFallingBlocks-help" class="form-text text-muted">When a player (accidentally)
      collapses a structure, the falling blocks will be immediately removed, preventing lag and your server crashing. 0
      = disabled.</small>
  </div>

  <hr>

  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name="settings-cpm-blockUtf8Names" id="settings-cpm-blockUtf8Names">
      Kick any players with UTF-8 characters in name at login
    </label>
  </div>

  <br>

  <button type="button" name="settings-cpm-set" id="settings-cpm-set" class="btn btn-lg btn-primary" btn-lg btn-block">Set</button>

</div>

<script>
  const CPMSettings = ["prefix", "hidePrefix", "serverChatName", "announceNightTime", "locTrack",
    "preventFallingBlocks", "blockUTF8"
  ];

  $(document).ready(function () {
    if (window.SAILS_LOCALS.cpmVersion !== 0) {
      for (const setting of CPMSettings) {
        $.ajax({
          url: `/api/sdtdserver/cpm/setting`,
          type: 'GET',
          data: {
            _csrf: window.SAILS_LOCALS._csrf,
            serverId: window.SAILS_LOCALS.server.id,
            setting: setting
          },
          success: (data, status, xhr) => {
            fillSettingField(data)
          },
          error: (xhr, status, error) => {
            displayAjaxToSupportData(xhr, this.URL);;
            showErrorModal(`${error} - ${xhr.responseText}`);
          }
        });
      };
    }



    $("#settings-cpm-set").click(e => {

      setSetting("prefix", $("#settings-cpm-prefix").val());

      setSetting('hidePrefix', $("#settings-cpm-hideChatcommand").val());

      setSetting('serverChatName', $("#settings-cpm-serverChatName").val());

      setSetting('announceNightTime', $("#settings-cpm-announceNightTime-enabled").prop('checked'), "enabled");
      setSetting('announceNightTime', $("#settings-cpm-announceNightTime-bloodMoonCycle").val(), "hordecycle");
      setSetting('announceNightTime', $("#settings-cpm-announceNightTime-warnHours").val(), "warnhours");
      setSetting('announceNightTime', $("#settings-cpm-announceNightTime-announcer").val(), "announcer");
      setSetting('announceNightTime', $("#settings-cpm-announceNightTime-nightTimeText").val(), "nighttimetext");
      setSetting('announceNightTime', $("#settings-cpm-announceNightTime-bloodDayText").val(), "blooddaytext");
      setSetting('announceNightTime', $("#settings-cpm-announceNightTime-bloodDayTomorrowText").val(),
        "blooddaytomorrowtext");
      setSetting('announceNightTime', $("#settings-cpm-announceNightTime-counterDayText").val(),
        "counterdaytext ");

      setSetting('locTrack', $("#settings-cpm-locTrack-enabled").prop('checked'), "enabled");
      setSetting('locTrack', $("#settings-cpm-locTrack-command-enabled").prop('checked'), "commandenabled");
      setSetting('locTrack', $("#settings-cpm-locTrack-command").val(), "command");
      setSetting('locTrack', $("#settings-cpm-locTrack-interval").val(), "interval");
      setSetting('locTrack', $("#settings-cpm-locTrack-maxAgeData").val(), "maxagedata ");
      setSetting('locTrack', $("#settings-cpm-locTrack-nearDistance").val(), "neardistance ");
      setSetting('locTrack', $("#settings-cpm-locTrack-responseColor").val(), "responsecolor");

      setSetting('preventFallingBlocks', $("#settings-cpm-preventFallingBlocks").val());

      setSetting('blockUTF8', $("#settings-cpm-blockUtf8Names").prop('checked'));

    });

  });

  function setSetting(type, value, settingField) {

    if (!value) {
      return false;
    }

    $.ajax({
      url: `/api/sdtdserver/cpm/setting`,
      type: 'POST',
      data: {
        _csrf: window.SAILS_LOCALS._csrf,
        serverId: window.SAILS_LOCALS.server.id,
        setting: type,
        value: value,
        settingField: settingField
      },
      success: (data, status, xhr) => {
        return true;
      },
      error: (xhr, status, error) => {
        showErrorModal(`${error} - ${xhr.responseText}`);
        displayAjaxToSupportData(xhr, this.URL);;
        return false;
      }
    });
  }

  function fillSettingField(data) {
    switch (data.type) {
      case "prefix":
        $("#settings-cpm-prefix").val(data.value);
        break;
      case "hidePrefix":
        $("#settings-cpm-hideChatcommand").val(data.value);
        break;
      case "serverChatName":
        $("#settings-cpm-serverChatName").val(data.value);
        break;
      case "announceNightTime":

        $("#settings-cpm-announceNightTime-enabled").prop('checked', data.enabled);
        $("#settings-cpm-announceNightTime-bloodMoonCycle").val(data.config.bloodMoonCycle);
        $("#settings-cpm-announceNightTime-warnHours").val(data.config.warnHours);
        $("#settings-cpm-announceNightTime-announcer").val(data.config.announcer);
        $("#settings-cpm-announceNightTime-nightTimeText").val(data.config.nightTimeText);
        $("#settings-cpm-announceNightTime-bloodDayText").val(data.config.bloodDayText);
        $("#settings-cpm-announceNightTime-bloodDayTomorrowText").val(data.config.bloodDayTomorrowText);
        $("#settings-cpm-announceNightTime-counterDayText").val(data.config.counterDayText);
        break;
      case "locTrack":

        $("#settings-cpm-locTrack-enabled").prop('checked', data.enabled);
        $("#settings-cpm-locTrack-command-enabled").prop('checked', data.config.commandEnabled);
        $("#settings-cpm-locTrack-command").val(data.config.command);
        $("#settings-cpm-locTrack-interval").val(data.config.interval);
        $("#settings-cpm-locTrack-maxAgeData").val(data.config.maxAgeData);
        $("#settings-cpm-locTrack-nearDistance").val(data.config.nearDistance);
        $("#settings-cpm-locTrack-responseColor").val(data.config.responseColor);
        break;
      case "preventFallingBlocks":
        $("#settings-cpm-preventFallingBlocks").val(data.value);
        break;
      case "blockUTF8":
        $("#settings-cpm-blockUtf8Names").prop('checked', data.enabled);
        break;

      default:
        break;
    }

  }

</script>
