<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-settings-gimme">
  Configure gimme
</button>

<!-- Modal -->
<div class="modal fade" id="modal-settings-gimme" tabindex="-1" role="dialog" aria-labelledby="modal-settings-gimme"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Gimme</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">

          <div class="form-group">
            <label for="modal-settings-gimme-cooldown">Cooldown</label>
            <input type="text" class="form-control" name="modal-settings-gimme-cooldown" id="modal-settings-gimme-cooldown"
              aria-describedby="modal-settings-gimme-cooldown-help" placeholder="">
            <small id="modal-settings-gimme-cooldown-help" class="form-text text-muted">The amount of time (in minutes)
              a player has to wait before using gimme again.</small>
          </div>

          <table class="table" id="modal-settings-gimme-table">
            <thead>
              <tr>
                <th>Type</th>
                <th>Friendly name</th>
                <th>Value</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

          <span>
            <form class="form-inline">

              <label for="modal-settings-gimme-input-type"></label>
              <select class="form-control mb-2 mr-sm-2" name="modal-settings-gimme-input-type" id="modal-settings-gimme-input-type">
                <option value="item">Item</option>
                <option value="entity">Entity</option>
                <option value='command'>Command</option>
              </select>


              <label for="modal-settings-gimme-input-friendlyName"></label>
              <input type="text" class="form-control mb-2 mr-sm-2" name="modal-settings-gimme-input-friendlyName" id="modal-settings-gimme-input-friendlyName"
                placeholder="Friendly name">


              <label for="modal-settings-gimme-input-value"></label>
              <input type="text" class="form-control mb-2 mr-sm-2" name="modal-settings-gimme-input-value" id="modal-settings-gimme-input-value"
                placeholder="Value">

              <input name="modal-settings-gimme-input-add" id="modal-settings-gimme-input-add" class="btn btn-success mb-2 mr-sm-2"
                type="button" value="Add">

            </form>
          </span>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(() => {

    for (const gimmeItem of window.SAILS_LOCALS.gimmeItems) {
      addItemToTable(gimmeItem);
    }

    $("#modal-settings-gimme-input-add").click(e => {
      let type = $('#modal-settings-gimme-input-type').find(":selected").val();
      let friendlyName = $("#modal-settings-gimme-input-friendlyName").val();
      let value = $("#modal-settings-gimme-input-value").val();

      $.ajax({
        url: '/api/sdtdserver/commands/gimme/item',
        method: 'POST',
        data: {
          _csrf: window.SAILS_LOCALS._csrf,
          serverId: window.SAILS_LOCALS.server.id,
          type: type,
          value: value,
          friendlyName: friendlyName
        },
        success: (data, status, xhr) => {
          addItemToTable(data);
        },
        error: (xhr, status, error) => {
          displayAjaxToSupportData(xhr, this.URL);;
          showErrorModal(`${error} - ${xhr.responseText}`);
        }
      });
    });

    $("#modal-settings-gimme-table").on('click', ".gimme-delete", (e) => {
      let idTodelete = e.target.dataset.itemid;
      $.ajax({
        url: '/api/sdtdserver/commands/gimme/item',
        method: 'DELETE',
        data: {
          _csrf: window.SAILS_LOCALS._csrf,
          serverId: window.SAILS_LOCALS.server.id,
          itemId: idTodelete
        },
        success: (data, status, xhr) => {
          removeItemFromTable(idTodelete);
        },
        error: (xhr, status, error) => {
          displayAjaxToSupportData(xhr, this.URL);;
          showErrorModal(`${error} - ${xhr.responseText}`);
        }
      });
    });

    $("#modal-settings-gimme-table").on('input', ".gimme-item-row", (e) => {
      let changedItemId = e.target.dataset.itemid;
      $(`tr[data-itemid=${changedItemId}] .gimme-edit`).removeClass('invisible');
    });

    $("#modal-settings-gimme-table").on('click', ".gimme-edit", (e) => {
      let idToEdit = e.target.dataset.itemid;
      let type = $(`tr[data-itemid=${idToEdit}] .gimme-item-type`).text();
      let friendlyName = $(`tr[data-itemid=${idToEdit}] .gimme-item-friendlyName`).text();
      let value = $(`tr[data-itemid=${idToEdit}] .gimme-item-value`).text();

      $.ajax({
        url: '/api/sdtdserver/commands/gimme/item',
        method: 'PATCH',
        data: {
          _csrf: window.SAILS_LOCALS._csrf,
          serverId: window.SAILS_LOCALS.server.id,
          gimmeId: idToEdit,
          type: type,
          value: value,
          friendlyName: friendlyName
        },
        success: (data, status, xhr) => {
          $(e.target).addClass('invisible');
        },
        error: (xhr, status, error) => {
          displayAjaxToSupportData(xhr, this.URL);;
          showErrorModal(`${error} - ${xhr.responseText}`);
        }
      });
    });

  });

  function addItemToTable(item) {
    let markup =
      `<tr class="gimme-item-row" data-itemid=${item.id} contenteditable="true"><td class="gimme-item-type">${item.type}</td><td class="gimme-item-friendlyName">${item.friendlyName}</td><td class="gimme-item-value">${item.value}</td><td>${getDeleteButton(item.id)} ${getEditButton(item.id)}</td></tr>`;
    $("#modal-settings-gimme-table tbody").append(markup);
  }

  function removeItemFromTable(id) {
    $(`tr[data-itemid=${id}]`).remove();
  }

  function getDeleteButton(itemId) {
    return `<button type="button" class="btn btn-danger gimme-delete" data-itemid=${itemId}>Delete</button>`
  }

  function getEditButton(itemId) {
    return `<button type="button" class="btn btn-primary gimme-edit invisible" data-itemid=${itemId}>Save</button>`
  }

</script>
