<%- exposeLocalsToBrowser() %>

  <!-- LOGGING SETTINGS -->
  <div class="row">
    <div class="col-md-4">
      <small class="text-muted">Module to detect events on your server
        <br>
        <p> Note that by disabling this, several features will not work anymore </p>
      </small>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <% if(config.loggingEnabled) {%>
          <li class="list-group-item bg-success">Enabled
          </li>
          <% } else { %>
            <li class="list-group-item bg-danger">Disabled
            </li>
            <% } %>
      </ul>
    </div>
    <div class="col-md-4">
      <% if(config.loggingEnabled) {%>
        <li id='settings-toggle-logging' class="btn btn-danger">
          <i class="fa fa-power-off"></i> Disable
        </li>
        <% } else { %>
          <li id='settings-toggle-logging' class="btn btn-success">
            <i class="fa fa-power-off"></i> Enable
          </li>
          <% } %>

    </div>
  </div>

  <script>
    $(document).ready(function () {

      $('#settings-toggle-logging').click((event) => {
        event.preventDefault();
        $.ajax({
          url: `/api/sdtdserver/togglelogging`,
          type: 'POST',
          data: {
            _csrf: window.SAILS_LOCALS._csrf,
            serverId: <%= server.id %>
          },
          success: (data, status, xhr) => {
            location.reload();
          },
          error: function (xhr, status, error) {
            displayAjaxToSupportData(xhr, this);;
          showErrorModal(`${error} - ${xhr.responseText}`, xhr);
          }
        });

      })

    })

  </script>
