<div class="container">

  <div class="alert alert-warning" role="alert">
    <strong>Warning: If a player is not assigned to a role, CSMM will default to the role with highest level (so lowest permissions).
      Make sure there is an appropriate role configured with a high level number. For example, if you have only an 'Admin'
      role, every player will default to that - not good!</strong>
  </div>

  <div id="roles-table"></div>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#add-role-modal">
    Create role
  </button>

  <!-- Create role Modal -->
  <div class="modal fade" id="add-role-modal" tabindex="-1" role="dialog" aria-labelledby="add-role-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="add-role-modal">Add a new role</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Basic info about the new role. More options are available once role is created.

          <div class="form-group">
            <label for="add-role-name">Name</label>
            <input type="text" class="form-control" name="add-role-name" id="add-role-name" aria-describedby="add-role-name-help" placeholder="Donator">
            <small id="add-role-name-help" class="form-text text-muted">The name of the new role</small>
          </div>

          <div class="form-group">
            <label for="add-role-level">Level</label>
            <input type="number" class="form-control" name="add-role-level" id="add-role-level" aria-describedby="add-role-level-help"
              placeholder="2000">
            <small id="add-role-level-help" class="form-text text-muted">The level of the new role. Defaults to 2000. Lower = more permissions</small>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="add-role-submit" type="button" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete modal -->
  <div class="modal fade" id="delete-role-modal" tabindex="-1" role="dialog" aria-labelledby="delete-role-modal-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="delete-role-modal-title">Delete role</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-danger delete-role">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="edit-role-modal" tabindex="-1" role="dialog" aria-labelledby="edit-role-modal-title" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="edit-role-modal-title">Edit a role</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="edit-role-name">Name</label>
            <input type="text" class="form-control" name="edit-role-name" id="edit-role-name" aria-describedby="edit-role-name-help"
              placeholder="">
            <small id="edit-role-name-help" class="form-text text-muted">The name of the new role</small>
          </div>

          <div class="form-group">
            <label for="edit-role-level">Level</label>
            <input type="number" class="form-control" name="edit-role-level" id="edit-role-level" aria-describedby="edit-role-level-help"
              placeholder="">
            <small id="edit-role-level-help" class="form-text text-muted">The level of the new role. Defaults to 2000. Lower = more permissions</small>
          </div>

          <div class="form-group">
            <label for="edit-role-discord-role">Discord role</label>
            <select class="form-control" name="edit-role-discord-role" id="edit-role-discord-role">

            </select>
            <small id="edit-role-level-help" class="form-text text-muted">Link a Discord role to this CSMM role. CSMM will sync users' roles. For this to work, a player will need to link
              his discord profile to his csmm profile!</small>
          </div>

          <div class="form-group">
            <label for="edit-role-teleports-amount">Amount of teleports allowed</label>
            <input type="number" class="form-control" name="edit-role-teleports-amount" id="edit-role-teleports-amount" aria-describedby="edit-role-teleports-amount-help"
              placeholder="">
            <small id="edit-role-teleports-amount-help" class="form-text text-muted">The amount of teleport locations players with this role can set. Note that the global max you configure in teleport
              settings still applies!</small>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="edit-role-manageServer" id="edit-role-manageServer" aria-describedby="edit-role-manageServer-help"
                value="true"> Manage server
            </label>
            <small id="edit-role-manageServer-help" class="form-text text-muted">Allow a user to do anything to your server on CSMM. This is a very powerfull permission and you should be careful
              who you give this to!</small>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="edit-role-manageEconomy" id="edit-role-manageEconomy" aria-describedby="edit-role-manageEconomy-help"
                value="true"> Manage economy
            </label>
            <small id="edit-role-manageEconomy-help" class="form-text text-muted">Allow a user to manage economy settings</small>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="edit-role-managePlayers" id="edit-role-managePlayers" aria-describedby="edit-role-managePlayers-help"
                value="true"> Manage players
            </label>
            <small id="edit-role-managePlayers-help" class="form-text text-muted">Allow a user to manage players. Includes giving items, deleting profiles, kicking and banning.</small>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="edit-role-manageTickets" id="edit-role-manageTickets" aria-describedby="edit-role-manageTickets-help"
                value="true"> Manage support tickets
            </label>
            <small id="edit-role-manageTickets-help" class="form-text text-muted">Allow a user to manage support tickets for your server. This includes closing and commenting on tickets.</small>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="edit-role-viewAnalytics" id="edit-role-viewAnalytics" aria-describedby="edit-role-viewAnalytics-help"
                value="true"> View analytics
            </label>
            <small id="edit-role-viewAnalytics-help" class="form-text text-muted">Allow a user to view the analytics page of your server.</small>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="edit-role-viewDashboard" id="edit-role-viewDashboard" aria-describedby="edit-role-viewDashboard-help"
                value="true"> View dashboard
            </label>
            <small id="edit-role-viewDashboard-help" class="form-text text-muted">Allow a user to view your servers dashboard on CSMM.</small>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="edit-role-useTracking" id="edit-role-useTracking" aria-describedby="edit-role-useTracking-help"
                value="true"> Use tracking
            </label>
            <small id="edit-role-useTracking-help" class="form-text text-muted">Allow a user to use the location and inventory tracking page.</small>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="edit-role-useChat" id="edit-role-useChat" aria-describedby="edit-role-useChat-help"
                value="true"> Use chat
            </label>
            <small id="edit-role-useChat-help" class="form-text text-muted">Allow a user to use the chatbox on your servers dashboard.</small>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="edit-role-useCommands" id="edit-role-useCommands" aria-describedby="edit-role-useCommands-help"
                value="true"> Execute commands
            </label>
            <small id="edit-role-useCommands-help" class="form-text text-muted">Allow a user to use the command console on your servers dashboard.</small>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary edit-role">Save</button>
        </div>
      </div>
    </div>
  </div>

</div>


<script>
  $(document).ready(e => {

    drawRolesTable();

    let activeRoleId = undefined;
    let currentRole = undefined;

    $("#add-role-submit").click(e => {
      let name = $("#add-role-name").val();
      let level = $("#add-role-level").val();

      $.post("/api/role", {
        _csrf: window.SAILS_LOCALS._csrf,
        serverId: window.SAILS_LOCALS.server.id,
        name: name,
        level: level
      }, (data) => {
        drawRolesTable();
        $("#add-role-modal").modal('hide');
      });
    });

    $('.delete-role').on('click', (e) => {
      $.ajax({
        url: "/api/role",
        type: 'DELETE',
        data: {
          serverId: "<%= server.id %>",
          _csrf: window.SAILS_LOCALS._csrf,
          roleId: activeRoleId
        },
        success: (data, status, xhr) => {
          drawRolesTable();
          $("#delete-role-modal").modal('hide');
        },
        error: (xhr, status, error) => {
          alert('Error deleting role, check browser console for more info.')
          console.log(xhr);
        }
      })
    });

    $('.edit-role').on('click', (e) => {
      let name = $("#edit-role-name").val() === '' ? undefined : $("#edit-role-name").val();
      let level = $("#edit-role-level").val() === '' ? undefined : $("#edit-role-level").val();
      let amountOfTeleports = $("#edit-role-teleports-amount").val() === "" ? undefined : $(
        "#edit-role-teleports-amount").val();
      let discordRole = $("#edit-role-discord-role option:selected").val();

      let manageServer = $("#edit-role-manageServer").prop('checked');
      let manageEconomy = $("#edit-role-manageEconomy").prop('checked');
      let useTracking = $("#edit-role-useTracking").prop('checked');
      let useChat = $("#edit-role-useChat").prop('checked');
      let useCommands = $("#edit-role-useCommands").prop('checked');
      let managePlayers = $("#edit-role-managePlayers").prop('checked');
      let viewDashboard = $("#edit-role-viewDashboard").prop('checked');
      let viewAnalytics = $("#edit-role-viewAnalytics").prop('checked');
      let manageTickets = $("#edit-role-manageTickets").prop('checked');

      $.ajax({
        url: "/api/role",
        type: 'PATCH',
        data: {
          serverId: "<%= server.id %>",
          _csrf: window.SAILS_LOCALS._csrf,
          roleId: activeRoleId,
          name: name,
          level: level,
          discordRole: discordRole,
          amountOfTeleports: amountOfTeleports,
          manageServer: manageServer,
          manageEconomy: manageEconomy,
          useTracking: useTracking,
          useChat: useChat,
          useCommands: useCommands,
          managePlayers: managePlayers,
          viewDashboard: viewDashboard,
          viewAnalytics: viewAnalytics,
          manageTickets: manageTickets
        },
        success: (data, status, xhr) => {
          drawRolesTable();
          $("#edit-role-modal").modal('hide');
        },
        error: (xhr, status, error) => {
          alert('Error editing role, check browser console for more info.')
          console.log(xhr);
        }
      })
    });

    $("#delete-role-modal").on('show.bs.modal', e => {
      activeRoleId = $(e.relatedTarget).val();
    });

    $("#edit-role-modal").on('show.bs.modal', e => {
      currentRole = $(e.relatedTarget).data('role');
      activeRoleId = $(e.relatedTarget).val();

      drawDiscordRolesSelect(currentRole);
      $("#edit-role-name").val(currentRole.name);
      $("#edit-role-level").val(currentRole.level);
      $("#edit-role-teleports-amount").val(currentRole.amountOfTeleports);

      $("#edit-role-manageServer").prop('checked', currentRole.manageServer);
      $("#edit-role-manageEconomy").prop('checked', currentRole.manageEconomy);
      $("#edit-role-useTracking").prop('checked', currentRole.useTracking);
      $("#edit-role-useChat").prop('checked', currentRole.useChat);
      $("#edit-role-useCommands").prop('checked', currentRole.useCommands);
      $("#edit-role-managePlayers").prop('checked', currentRole.managePlayers);
      $("#edit-role-viewDashboard").prop('checked', currentRole.viewDashboard);
      $("#edit-role-viewAnalytics").prop('checked', currentRole.viewAnalytics);
      $("#edit-role-manageTickets").prop('checked', currentRole.manageTickets);

    });

  });

  function drawDiscordRolesSelect(currentRole) {

    $.get('/api/sdtdserver/discord/roles', {
      serverId: window.SAILS_LOCALS.server.id
    }, roles => {

      if (roles.length === 0) {
        $("#edit-role-discord-role").parent().hide();
      }
      $("#edit-role-discord-role").empty();


      let foundRole = false
      for (const role of roles) {
        let content
        if (currentRole.discordRole === role.id) {
          content = `<option value="${role.id}" selected>${role.name}</option>`;
          foundRole = true
        } else {
          content = `<option value="${role.id}">${role.name}</option>`;
        }

        $("#edit-role-discord-role").append(content);
      }

      if (!foundRole) {
        $("#edit-role-discord-role").append("<option selected>None</option>");
      } else {
        $("#edit-role-discord-role").append("<option>None</option>");
      }
    })

  }

  function drawRolesTable() {

    $("#roles-table").empty();

    $.get("/api/role", {
      serverId: window.SAILS_LOCALS.server.id,
    }, (rolesToDraw) => {

      rolesToDraw = _.sortBy(rolesToDraw, ['level'])

      // build the table
      var content = '<table class="table">';
      content += '<thead><tr>';
      content += '<th>Name</th>';
      content += '<th>Level</th>';
      content += '<th></th>';
      content += '<th"></th>';
      content += '</tr></thead><tbody>';

      $.each(rolesToDraw, function () {
        let roleId = this.id
        content += '<tr data-id="' + this.id + '">';
        content += '<td>' + this.name + '</td>';
        content += '<td>' + this.level + '</td>';

        content +=
          `<td>  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-role-modal" data-role='${JSON.stringify(this)}' value="${this.id}">
    Edit
  </button></td>`;

        // Delete button
        content +=
          `<td>  
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-role-modal" data-role='${JSON.stringify(this)}' value="${this.id}">
    Delete
  </button></td>`;
        content += '</tr>';
      });
      content += '</tbody></table>';

      $("#roles-table").append(content)
    })



  }

</script>
