<!-- Require ticket info -->

<div class="card" style="width: 18rem;">
<% if (ticket.status) { %>
  <div class="card-body bg-warning">
  <% } else { %>
    <div class="card-body bg-success">
  <% } %>
    <h5 class="card-title"><%= ticket.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Reported by player <%= ticket.player %> </h6>
    <p class="card-text"><%= ticket.description %></p>
    <a href="/sdtdTicket/<%= ticket.id %>" class="card-link">Details</a>
  </div>
</div>

