<div class="container-fluid">

  <div class="row">

    <% if (!player.inventory) { %>
      <p>No inventory data =(</p>
      <% } else { %>
        <table id='player-inventory-table' class="table display hover">
          <thead>
            <tr>
              <th>Icon</th>
              <th>Name</th>
              <th>Amount</th>
              <th>Quality</th>
              <th>Slot</th>
            </tr>
          </thead>

        </table>

        <% } %>
  </div>
</div>


<script>

  $(document).ready(function () {

    const prepareInvDataForDataTable = (inventoryData) => {
      let inventoryDataArr = new Array();

      if (inventoryData.bag) {
        inventoryData.bag.forEach(item => {
          if (!_.isNull(item)) {
            item.slot = 'bag';
            inventoryDataArr.push(item);
          }
        })
      }

      for (const key in inventoryData.equipment) {
        if (inventoryData.equipment.hasOwnProperty(key)) {
          let element = inventoryData.equipment[key];
          if (!_.isNull(element)) {
            element.slot = key
            inventoryDataArr.push(element)

          }
        }
      }

      if (inventoryData.belt) {
        inventoryData.belt.forEach(item => {
          if (!_.isNull(item)) {
            item.slot = 'belt';
            inventoryDataArr.push(item);
          }
        })
      }

      return inventoryDataArr
    }

    let inventoryData = prepareInvDataForDataTable(window.SAILS_LOCALS.player.inventory)

    let inventoryTable = $('#player-inventory-table').DataTable({
      data: inventoryData,
      dom: 'Bfrtip',
      fixedHeader: true,
      responsive: true,
      buttons: [
        'copy', 'excel', 'pdf', 'print'
      ],
      columns: [{
        data: "icon",
        render: function (data, type, row, meta) {
          return `<img src="../../../images/sdtdicons/${data}.png" width="50%" style='border-radius: 50%;'>`
        }
      },
      {
        data: 'name'
      },
      {
        data: 'count'
      },
      {
        data: 'quality'
      },
      {
        data: 'slot'
      }

      ]
    })

  })

</script>