<body>
  <%- exposeLocalsToBrowser() %>


    <div class="card text-center">
      <img class="card-img-top" src="holder.js/100px180/" alt="">
      <div class="card-body">
        <h4 class="card-title">Add a server</h4>
        <div class="card-text">


          <a href="http://csmm.readthedocs.io/en/latest/pages/quick-start.html">Quick start guide</a>

          <form id="addServer">
            <div class="form-group">
              <label for="servername">Name</label>
              <input type="text" class="form-control" id="servername" aria-describedby="server-name-help" placeholder="World's best server!!">
              <small id="server-name-help" class="form-text text-muted">Give your server a memorable name - This is mostly used internally so make sure you can recognize the server</small>
            </div>
            <div class="form-group">
              <label for="serverip">Server IP</label>
              <input type="text" class="form-control" id="serverip" placeholder="Server IP address">
              <small>Provide a valid IPv4/6 adress or a
                <a href="https://en.wikipedia.org/wiki/Fully_qualified_domain_name">FQDN</a>
              </small>
            </div>
            <div class="form-group">
              <label for="webport">Web API port</label>
              <input type="number" class="form-control" id="webport" aria-describedby="webportHelp" placeholder="ex. 8084">
              <small id="webportHelp" class="form-text text-muted">Port added by Allocs fixes</small>
            </div>
            <div class="form-group">
              <label for="authName">Authorization name</label>
              <input type="text" class="form-control" id="authName" placeholder="ex. csmm">
              <small class="form-text text-muted">Set this with telnet command</small>
            </div>
            <div class="form-group">
              <label for="authToken">Authorization token</label>
              <input type="text" class="form-control" id="authToken" placeholder="ex. super-secret-token">
              <small class="form-text text-muted">Set this with telnet command</small>
            </div>
         
            <div class="alert alert-warning" role="alert">
              <strong>For better security please choose a strong token!</strong> <br>
              Randomly generated string: 
              <%= Math.random().toString(36).substr(2, 25); %>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

            <p>Check the documentation if you don't know what to fill in. If you are lost or keep getting errors, swing by the
              discord server for some help! :)</p>
          </form>

        </div>
      </div>
      <div id="errorMessage" class="card-footer"></div>
    </div>

    <hr>

    <%- include('../meta/sponsors/letsdohosting') %>


</body>

<script>
  $("#addServer").submit(function (event) {
    event.preventDefault();
    const serverip = $("#serverip").val(),
      webport = $("#webport").val(),
      authName = $("#authName").val(),
      authToken = $("#authToken").val(),
      servername = $("#servername").val()

    $('#servername').removeClass("is-invalid");
    $('#serverip').removeClass("is-invalid");
    $('#webport').removeClass("is-invalid");
    $('#authName').removeClass("is-invalid");
    $('#authToken').removeClass("is-invalid");

    if (servername === '') {
      return $('#servername').addClass("is-invalid")
    }

    if (serverip === '' || !(validator.isIP(serverip) || validator.isFQDN(serverip))) {
      return $('#serverip').addClass("is-invalid")
    }

    if (webport === '' || !validator.isPort(webport)) {
      return $('#webport').addClass("is-invalid")
    }
    if (authName === '') {
      return $('#authName').addClass("is-invalid")
    }
    if (authToken === '') {
      return $('#authToken').addClass("is-invalid")
    }



    $.ajax({
      url: "/api/sdtdserver/addserver",
      type: 'POST',
      data: {
        _csrf: window.SAILS_LOCALS._csrf,
        serverName: servername,
        serverIp: serverip,
        webPort: webport,
        authName: authName,
        authToken: authToken
      },
      success: (data, status, xhr) => {
        window.location.replace(`/sdtdserver/${data.id}/dashboard`)
      },
      error: (xhr, status, error) => {
        if (xhr.responseJSON == "cantConnect") {
          $('#errorMessage').text(`Could not connect to the server!
Please check that you have entered correct IP and port.
Verify the authorization info you entered is valid and active on your server.`)
        }
        if (xhr.responseJSON == "serverExists") {
          $('#errorMessage').text(`A server with that IP and webport is already in the system.`)
        }

        if (xhr.responseJSON == "maxServers") {
          $('#errorMessage').text(`You have reached the maximum amount of servers you can have registered on CSMM. Consider deleting an old server (or donating :D)`)
        }

        $('#errorMessage').prepend("Error: <br>")
      }
    })


  })

</script>