<body>
    <div class="list-block">
        <form id="addServer" action="javascript:addServer();">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">Server IP</div>
                            <div class="item-input">
                                <input id="input-serverip" type="text" name="serverip">
                            </div>
                        </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">Telnet port</div>
                            <div class="item-input">
                                <input id="input-telnetport" type="text" name="telnetport">
                            </div>
                        </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">Telnet Password</div>
                            <div class="item-input">
                                <input id="input-telnetpassword" type="password" name="telnetpassword">
                            </div>
                        </div>
                </li>
                <% if (!_.isUndefined(telnetError))  {%>
                    <p>
                        <%= telnetError %>
                    </p>
                    <% } %>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Web port</div>
                                    <div class="item-input">
                                        <input id="input-webport" type="text" name="webport">
                                    </div>
                                </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="submit" value="Submit">
                                    </div>
                                </div>
                        </li>
            </ul>

        </form>
        </div>


</body>