<body>
<%- exposeLocalsToBrowser() %>

  <form id="addServer" class="w-25 p-3 float-left">
    <div class="form-group">
      <label for="serverip">Server IP</label>
      <input type="text" class="form-control" id="serverip" placeholder="Server IP address">
    </div>
    <div class="form-group">
      <label for="webport">Web Port</label>
      <input type="number" class="form-control" id="webport" aria-describedby="webportHelp" placeholder="ex. 8084">
      <small id="webportHelp" class="form-text text-muted">Port added by Allocs fixes</small>
    </div>
    <div class="form-group">
      <label for="telnetport">Telnet port</label>
      <input type="number" class="form-control" id="telnetport" placeholder="ex. 8081">
    </div>
    <div class="form-group">
      <label for="telnetpassword">Telnet password</label>
      <input type="password" class="form-control" id="telnetpassword" aria-describedby="passwordHelp" placeholder="Password">
      <small id="passwordHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div id="message" class="float-right w-25 p-3"></div>

</body>

<script>
  $("#addServer").submit(function (event) {
    event.preventDefault();
    const serverip = $("#serverip").val(),
      webport = $("#webport").val(),
      telnetport = $("#telnetport").val(),
      telnetpassword = $("#telnetpassword").val()

    if (serverip === '') {
      return $('#serverip').addClass("is-invalid")
    }

    if (webport === '') {
      return $('#webport').addClass("is-invalid")
    }
    if (telnetport === '') {
      return $('#telnetport').addClass("is-invalid")
    }
    if (telnetpassword === '') {
      return $('#telnetpassword').addClass("is-invalid")
    }

    $.ajax({
      url: "/api/sdtdserver/addserver",
      type: 'POST',
      data: {
        _csrf: window.SAILS_LOCALS._csrf,
        serverIp: serverip,
        webPort: webport,
        telnetPort: telnetport,
        telnetPassword: telnetpassword
      },
      success: (data, status, xhr) => {
        window.location.replace(`/sdtdserver/${data.id}/dashboard`)
      },
      error: (xhr, status, error) => {
        console.log(xhr)
        let htmlToAdd = `<h2>Error</h2> <br> <p>${xhr.responseText}</p> <br> <p>Contact support for more help please</p>`
        $("#message").append(htmlToAdd)
      }
    })


  })

</script>
