<body>
  <div class="container-fluid">
    <div class="row">
      <% include ./partials/backToDashboard %>
        <div class="col-md-8">
          <% include ./partials/chat/chatWindow %>
        </div>
        <div class="col-md-4">
          <% include ./partials/chat/chatControls %>
        </div>
    </div>
  </div>
</body>
