<div class="text-center">

    <h1>Global ban list</h1>

</div>

<div class="container">

    <div class="card text-center">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Search</h4>
            <p class="card-text">

                <div class="form-group">
                    <label for="gbl-steamid-input">Steam ID</label>
                    <input type="text" class="form-control" name="gbl-steamid-input" id="gbl-steamid-input" aria-describedby="gbl-steamid-input-help"
                        placeholder="">
                    <small id="gbl-steamid-input-help" class="form-text text-muted">Steam ID of the player you want to search for</small>
                </div>

            </p>
        </div>
    </div>

</div>

<hr>

<div id="gbl-ban-cards" class="card-columns">



</div>