<%- exposeLocalsToBrowser() %>

<div class="text-center">

  <h1>Global ban list</h1>

</div>

<div class="container">

  <div class="card text-center">
    <img class="card-img-top" src="holder.js/100px180/" alt="">
    <div class="card-body">
      <h4 class="card-title">Search</h4>
      <p class="card-text">

        <div class="form-group">
          <label for="gbl-steamid-input">Steam ID</label>
          <input type="text" class="form-control" name="gbl-steamid-input" id="gbl-steamid-input" aria-describedby="gbl-steamid-input-help"
            placeholder="">
          <small id="gbl-steamid-input-help" class="form-text text-muted">Steam ID of the player you want to search for</small>
        </div>

        <div class="text-center">
          <button id="gbl-search" type="button" class="btn btn-primary">Search</button>
        </div>

        <div id="loading-indicator">
          <i class="fas fa-spinner fa-spin"></i>
        </div>

      </p>
    </div>
  </div>

</div>

<hr>


<div id="gbl-search-result" class="text-center">


</div>


<script>
  $(document).ready(() => {

    let loggedInUserId = "<%- req.session.userId %>";

    $("#loading-indicator").hide();

    $("#gbl-search").click(() => {

      $("#loading-indicator").show();
      let steamId = $("#gbl-steamid-input").val();

      if (steamId === "") {
        $("#loading-indicator").hide();
        return showErrorModal(`You cannot search for an empty string.`)
      }

      $.get("/api/gbl/find", {
        steamId: steamId
      }, banEntries => {

        
        if (banEntries.length > 0) {
          $("#gbl-search-result").text('Found player! Redirecting you to profile page.');
          return window.location.replace(`/gbl/profile?steamId=${banEntries[0].steamId}`)
        }

        $("#gbl-search-result").text('No players with that ID found.');
        $("#loading-indicator").hide();

      })
    })

  })

</script>
