<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Player overview</h1>

        <% include ./partials/backToDashboard %>

          <table class="table">
            <thead>
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Name
                </th>
                <th>
                  Location
                </th>
              </tr>
            </thead>
            <tbody>
              <% players.forEach(player => { %>
                <tr>
                  <th scope="row">
                    <%= player.entityId %>
                  </th>
                  <td>
                    <% const playerLink = '/player/' + player.id + '/profile' %>
                      <a href='<%= playerLink %>'>
                        <%= player.name %>
                      </a>
                  </td>
                  <td>
                    <% let locationString = `${player.positionX} ${player.positionY} ${player.positionZ}` %>
                      <%= locationString %>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</body>
