<%- exposeLocalsToBrowser() %>

  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>Player overview</h1>

          <% include ./partials/backToDashboard %>

            <table id='players-overview' class="table display hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Entity ID</th>
                  <th>Steam ID</th>
                  <th>IP</th>
                  <th>Playtime</th>
                  <th>Level</th>
                  <th>Score</th>
                  <th>Deaths</th>
                  <th>Players killed</th>
                  <th>Zombies killed
                </tr>
              </thead>
            </table>
        </div>
      </div>
    </div>
  </body>


  <script>
    $(document).ready(function () {
      $('#players-overview').DataTable({
        data: window.SAILS_LOCALS.players,
        dom: 'Bfrtip',
        fixedHeader: true,
        responsive: true,
        buttons: [
          'copy', 'excel', 'pdf', 'print'
        ],
        columns: [{
            data: "name",
            render: function (data, type, row, meta) {
              return `<a href="/player/${row.id}/profile">${data}</a>`;
            }
          },
          {
            data: 'entityId'
          },
          {
            data: 'steamId'
          },
          {
            data: 'ip'
          },
          {
            data: 'playtime',
            render: function (data, type, row, meta) {
              return `${row.playtimeHHMMSS}`
            }
          },
          {
            data: 'level'
          },
          {
            data: 'score'
          },
          {
            data: 'deaths'
          },
          {
            data: 'playerKills'
          },
          {
            data: 'zombieKills'
          }

        ]
      });
    });

  </script>
