<div class="container-fluid">
  <h1>Settings</h1>
  <% include ./partials/backToDashboard %>

  <%- include('./partials/settings/loggingSettings', {server: server}) %>
  <%- include('./partials/settings/countryBanSettings', {server: server}) %>

   
</div>
