<div class="container-fluid">
  <h1>Settings</h1>
  <% include ./partials/backToDashboard %>

    <%- include('./partials/settings/loggingSettings', {server: server, config: config}) %>
      <%- include('./partials/settings/countryBanSettings', {server: server, config: config}) %>


</div>
