<%- exposeLocalsToBrowser() %>

    <div>
        <h1>Player tracking</h1>
        <input name="tracking-player-btn" id="tracking-player-btn" class="btn btn-primary btn-lg" type="button" value="Get data">

        <div class="form-group">
            <label for="player-name-select">Tracking player</label>
            <select class="form-control" name="player-name-select" id="player-name-select">

                <% players.forEach(player => { %>

                    <option value="<%= player.id %>">
                        <%= player.name %>
                    </option>

                    <% }) %>

            </select>
        </div>


        <div id="narrow-down">

            <label for="datepicker">Narrow down data</label>
            <input type="text" name="datetimes" />

        </div>

        <hr>
        <div>

            <p id="loaded-data"></p>
            <p id="daterange-data"></p>

        </div>
        <hr>

        <h2>Location</h2>
        <div id="sdtdMap">


        </div>

        <hr>

        <h2>Inventory</h2>


    </div>

    <style>
        #sdtdMap {
            height: 75em;
            width: 100%;
        }
    </style>


    <script>

        const server = window.SAILS_LOCALS.server;
        let trackingMap 
        $(document).ready(() => {

            trackingMap = new sdtdMap($("#sdtdMap"))

            $('#tracking-player-btn').click(e => {

                getDataAndUpdate();
            })

            $('#narrow-down').hide();

            $('input[name="datetimes"]').daterangepicker({
                timePicker: true,
                startDate: moment().startOf('hour'),
                endDate: Date.now(),
            });

            $('input[name="datetimes"]').on('apply.daterangepicker', function (ev, picker) {
                getDataAndUpdate(picker.startDate.toDate().valueOf(), picker.endDate.toDate().valueOf());

            });

        })


        function getDataAndUpdate(begin, end) {
            let playerId = $("#player-name-select").val();

            $.get('/api/sdtdserver/tracking', { serverId: server.id, playerId: playerId, beginDate: begin, endDate: end }, data => {

                if (data.length === 0) {
                    return alert('No data found for this player.')
                }

                $("#loaded-data").text(`${data.length} datapoints loaded`);


                let oldest = new Date(data[0].createdAt);
                let newest = new Date(data[data.length - 1].createdAt);
                $("#daterange-data").text(`Oldest: ${oldest.toLocaleDateString()} ${oldest.toLocaleTimeString()} Newest: ${newest.toLocaleDateString()} ${newest.toLocaleTimeString()}`);

                $('input[name="datetimes"]').data('daterangepicker').setStartDate(oldest);
                $('input[name="datetimes"]').data('daterangepicker').setEndDate(newest);

                $('#narrow-down').show();


                trackingMap.drawPlayers(window.SAILS_LOCALS.players.filter(player => player.id === parseInt(playerId)), data);
            })
        }

    </script>