<%- exposeLocalsToBrowser() %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ticket-edit-modal">
  Edit description
</button>

<!-- Modal -->
<div class="modal fade" id="ticket-edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Edit ticket #
          <%= ticket.id %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="kick-player-form">
          <div class="form-group">
            <input type="text" class="form-control" id="ticket-edit-description" placeholder="<%= ticket.description %>">
          </div>
          <input type="submit" class="fa fa-comments-o btn btn-primary" data-dismiss="modal" aria-hidden="true" id="ticket-edit-submit">
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {

    $('#ticket-edit-submit').click((event) => {
      event.preventDefault();
      newDescription = $('#ticket-edit-description').val()
      $.ajax({
        url: `/api/sdtdticket/editTicket`,
        type: "POST",
        data: {
          _csrf: window.SAILS_LOCALS._csrf,
          ticketId: <%= ticket.id %>,
          serverId: window.SAILS_LOCALS.server.id,
          description: newDescription
        },
        success: (data, status, xhr) => {
          location.reload();
        },
        error: (xhr, status, error) => {
          displayAjaxToSupportData(xhr, this.URL);;
          showErrorModal(`${error} - ${xhr.responseText}`);
        }
      });

    })

  })

</script>
