<body>
  <h2>
    Online players:
    <div id="amount-of-online-players">
      <%= server.stats.players %>
    </div>
  </h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Entity ID</th>
        <th scope="col">Name</th>
        <th scope="col">Playtime (s)</th>
        <th scope="col">Steam ID</th>
        <th scope="col">Level</th>
        <th scope="col">Country</th>
      </tr>
    </thead>
    <tbody id="online-players">
    </tbody>
  </table>

  <p>
    <% const playersLink = '/sdtdserver/' + server.id + '/players' %>
      <a class="btn" href='<%= playersLink %>'>View all players »</a>
  </p>

</body>

<script>
  $(document).ready(function () {

    sendRequestAndUpdatePlayers();

    io.socket.on('playerConnected', (connectedMessage) => {
      sendRequestAndUpdatePlayers();
    })

    io.socket.on('playerDisconnected', (disconnectedMessage) => {
      sendRequestAndUpdatePlayers();
    })





  })

  function sendRequestAndUpdatePlayers() {
    $.ajax({
      url: '/api/sdtdserver/players',
      data: {
        serverId: "<%= server.id %>"
      },
      success: (data, status, xhr) => {
        updatePlayerList(data)
      },
      error: (xhr, status, error) => {
        console.log(`Could not update online players! error: ${error}`)
      }
    })
  }

  function updatePlayerList(players) {
    let playersHtml = new String();
    let amountOfOnlinePlayers = 0
    for (let player of players) {
      if (player.online) {
        amountOfOnlinePlayers++

        let playerIdHtml = `<th scope="row"> ${player.entityId} </th>`
        let playerNameHtml =
          `<td> <a href='/player/${player.id}/profile'> ${player.name}</a></td>`
        let playerPlaytimeHtml = `<td> ${player.playtime} </td>`
        let playerSteamIdHtml = `<td> ${player.steamId} </td>`
        let playerLevelHtml = `<td> ${player.level} </td>`

        let playerCountryHtml = `<td> - </td>`
        if (player.country) {
          let flagImg = `<img src="../../images/flags/blank.gif" class="flag flag-${player.country.toLowerCase()}"/>`
          let playerCountryHtml = `<td> ${flagImg} ${player.country}</td>`
        }


        let playerRowHtml = `<tr>${playerIdHtml} ${playerNameHtml} ${playerPlaytimeHtml} ${playerSteamIdHtml} ${playerLevelHtml} ${playerCountryHtml}</tr>`
        playersHtml += playerRowHtml
      }
    }
    $("#online-players").html(playersHtml)
    $('#amount-of-online-players').text(`${amountOfOnlinePlayers} / <%= server.serverInfo.MaxPlayers %>`)
  }

</script>