.chat-window {
    overflow: scroll;
    height: 20em;
    resize: both;
    padding: 2em;
    list-style-type: none;
}

.chat-message {
    border-radius: 1em;
    position: relative;
    padding: 0.5em;
}
