<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-info" data-toggle="collapse" href="#collapse-changelog-0.1">
      Version 0.1
      </button>
  </div>
  <div class="col-md-6 collapse" id="collapse-changelog-0.1">

    <h2> Story
    </h2>
    <ul>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-6'>CSMM-6</a>] - GET /player/:id/inventory
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-7'>CSMM-7</a>] - GET api/sdtdserver/players
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-8'>CSMM-8</a>] - GET /player/:id/location
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-10'>CSMM-10</a>] - GET /player/:id/ban
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-12'>CSMM-12</a>] - GET /player/:id/kick
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-26'>CSMM-26</a>] - GET /sdtdserver/info
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-27'>CSMM-27</a>] - As a server owner, I want to see detailed information about players
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-40'>CSMM-40</a>] - As a server admin, I want to send ingame messages via discord
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-41'>CSMM-41</a>] - As a server admin, I want to read ingame messages via discord
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-72'>CSMM-72</a>] - As server owner, I want a central page to control all CSMM settings
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-77'>CSMM-77</a>] - As server owner I want to be able to unban players
      </li>
    </ul>

    <h2> Task
    </h2>
    <ul>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-25'>CSMM-25</a>] - Create new test cases for steam auth
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-76'>CSMM-76</a>] - Error messages in console should be highlighted in red
      </li>
    </ul>

    <h2> Bug
    </h2>
    <ul>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-65'>CSMM-65</a>] - Chat window reloads when you send a message
      </li>
    </ul>

    <h2> Sub-task
    </h2>
    <ul>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-29'>CSMM-29</a>] - Rewrite tests for api endpoint with chai
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-43'>CSMM-43</a>] - ChatBridge should get initialized on app launch
      </li>
    </ul>

  </div>
</div>
