<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-info" data-toggle="collapse" href="#collapse-changelog-0.2">
      Version 0.2
      </button>
  </div>
  <div class="col-md-6 collapse" id="collapse-changelog-0.2">

    <h2> Story
    </h2>
    <ul>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-3'>CSMM-3</a>] - As a server admin, I want to be able to execute console commands
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-6'>CSMM-6</a>] - GET /player/:id/inventory
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-7'>CSMM-7</a>] - GET api/sdtdserver/players
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-8'>CSMM-8</a>] - GET /player/:id/location
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-10'>CSMM-10</a>] - GET /player/:id/ban
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-12'>CSMM-12</a>] - GET /player/:id/kick
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-13'>CSMM-13</a>] - As a server admin, I want to be able to restrict certain countries access to my server
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-23'>CSMM-23</a>] - As any user, I want to be able to login via steam
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-26'>CSMM-26</a>] - GET /sdtdserver/info
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-27'>CSMM-27</a>] - As a server owner, I want to see detailed information about players
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-40'>CSMM-40</a>] - As a server admin, I want to send ingame messages via discord
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-41'>CSMM-41</a>] - As a server admin, I want to read ingame messages via discord
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-44'>CSMM-44</a>] - Add more comprehensive log lines
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-45'>CSMM-45</a>] - Add papertrail support
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-46'>CSMM-46</a>] - Add check to addServer helper for duplicate checking
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-50'>CSMM-50</a>] - Tests for actions
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-51'>CSMM-51</a>] - Tests for service/helpers
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-52'>CSMM-52</a>] - As server admin, I want a detailed overview of my players
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-53'>CSMM-53</a>] - As server admin, I cannot access someone else&#39;s server
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-58'>CSMM-58</a>] - As a server owner, I can delete my server from the system
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-60'>CSMM-60</a>] - as server owner i want to see pretty chat messages
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-66'>CSMM-66</a>] - as a csmm beta tester I want to be able to return to dashboard easily
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-67'>CSMM-67</a>] - as server admin I want to be able to kick players
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-68'>CSMM-68</a>] - as server admin I want to be able to ban players
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-69'>CSMM-69</a>] - as server admin I want to be able to give items to a player
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-70'>CSMM-70</a>] - as server owner i want to configure a name to send with the msgs
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-72'>CSMM-72</a>] - As server owner, I want a central page to control all CSMM settings
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-77'>CSMM-77</a>] - As server owner I want to be able to unban players
      </li>
    </ul>

    <h2> Task
    </h2>
    <ul>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-4'>CSMM-4</a>] - Application configuration with env vars
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-5'>CSMM-5</a>] - AddServer endpoint validation
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-17'>CSMM-17</a>] - As a server administrator, I want to be able to restart my server
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-25'>CSMM-25</a>] - Create new test cases for steam auth
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-36'>CSMM-36</a>] - Set up test scripts in package.json
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-49'>CSMM-49</a>] - Migrate all actions to actions2
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-63'>CSMM-63</a>] - Make papertrail config optional
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-64'>CSMM-64</a>] - Add policy for player pages
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-76'>CSMM-76</a>] - Error messages in console should be highlighted in red
      </li>
    </ul>

    <h2> Bug
    </h2>
    <ul>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-57'>CSMM-57</a>] - everything
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-65'>CSMM-65</a>] - Chat window reloads when you send a message
      </li>
    </ul>

    <h2> Sub-task
    </h2>
    <ul>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-28'>CSMM-28</a>] - Create helper for load-player-data
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-29'>CSMM-29</a>] - Rewrite tests for api endpoint with chai
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-42'>CSMM-42</a>] - Create console channel class
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-43'>CSMM-43</a>] - ChatBridge should get initialized on app launch
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-54'>CSMM-54</a>] - Review isLoggedIn and isServerOwner policies
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-55'>CSMM-55</a>] - Add tests for policies
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-62'>CSMM-62</a>] - Add inventory to player profile page
      </li>
    </ul>

  </div>
</div>
