<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-info" data-toggle="collapse" href="#collapse-changelog-0.3">
      Version 0.3
      </button>
  </div>
  <div class="col-md-6 collapse" id="collapse-changelog-0.3">

    <h2> Story
    </h2>
    <ul>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-9'>CSMM-9</a>] - POST /player/:id/location
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-15'>CSMM-15</a>] - As a server administrator, I want my players to be able to create support tickets.
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-73'>CSMM-73</a>] - As server owner, I want to teleport players to different locations
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-80'>CSMM-80</a>] - As a player, I can execute the $calladmin command to create a support ticket on the site
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-81'>CSMM-81</a>] - As a user, I can log on to the website and browse my tickets
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-82'>CSMM-82</a>] - As a server admin, I browse tickets for the server via the site
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-87'>CSMM-87</a>] - Allow server admin to configure custom authName &amp; authToken
      </li>
    </ul>

    <h2> Task
    </h2>
    <ul>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-79'>CSMM-79</a>] - Display user profile picture on player profile
      </li>
    </ul>

    <h2> Bug
    </h2>
    <ul>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-92'>CSMM-92</a>] - Disable commands for server messages
      </li>
    </ul>

  </div>
</div>
