<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-info" data-toggle="collapse" href="#collapse-changelog-0.4.1">
      Version 0.4.1
    </button>
  </div>
  <div class="col-md-6 collapse" id="collapse-changelog-0.4.1">

    <h2> Story
    </h2>
<ul>
<li>[<a href='http://192.168.1.101:8080/browse/CSMM-118'>CSMM-118</a>] -         Make server name configurable on setup page
</li>
</ul>
        
<h2>        Bug
</h2>
<ul>
<li>[<a href='http://192.168.1.101:8080/browse/CSMM-116'>CSMM-116</a>] -         Playerdata not loading steam avatars correctly 
</li>
</ul>
            


  </div>
</div>
