<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-info" data-toggle="collapse" href="#collapse-changelog-0.4.2">
      Version 0.4.2
    </button>
  </div>
  <div class="col-md-6 collapse" id="collapse-changelog-0.4.2">



    <h2> Bug
    </h2>
    <ul>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-128'>CSMM-128</a>] - Cookies do not reset which causes users to be able to access servers not owned by them
      </li>
      <li>[
        <a href='http://192.168.1.101:8080/browse/CSMM-129'>CSMM-129</a>] - Need a fallback image for unknown steam avatars
      </li>
    </ul>



  </div>
</div>
