<div class="card">
        <div class="card-header">
            Online players
        </div>
        <div class="card-body">
            <h4 id="chart-players-time" class="card-title"></h4>
    
            <p class="card-text">
    
                <canvas id="players-chart" width="100%"></canvas>
    
            </p>
        </div>
        <div id="chart-players-footer" class="card-footer text-muted">
    
            <i class="fas fa-spinner fa-spin"></i> Loading
        </div>
    </div>
    
    
    <script>
    
    
        $(document).ready(() => {
    
        })
    
    
        function drawPlayersChart(data) {
            const fpsChartCanvas = $("#players-chart");
            fpsChartCanvas.empty();
    
            var fpsChart = new Chart(fpsChartCanvas, {
                type: 'line',
                data: {
                    datasets: [
                        {
                            fill: false,
                            yAxisID: 'players',
                            borderColor: 'rgb(0, 102, 255)',
                            backgroundColor: 'rgb(0, 102, 255)',
                            label: 'players',
                            data: data.map(dataPoint => {
                                return {
                                    t: dataPoint.createdAt,
                                    y: dataPoint.players
                                }
                            }),
                        },
                    ]
                },
                options: {
                    scales: {
                        yAxes: [
                            {
                                id: 'players',
                                type: 'linear',
                                ticks: {
                                    beginAtZero: true
                                }
                            },
                        ],
                        xAxes: [{
                            type: 'time',
                        }]
                    }
                }
            })
    
            let date = new Date();
            $("#chart-players-footer").html(`<i class="fas fa-check"></i> Updated at ${date.toLocaleDateString()} ${date.toLocaleTimeString()} - ${data.length} data points`);
    
            if (data.length > 0) {
                
                let dataBeginDate = new Date(data[0].createdAt);
                let dataEndDate = new Date(data[data.length-1].createdAt);
                $("#chart-players-time").text(`${dataBeginDate.toDateString()} - ${dataEndDate.toDateString()}`)
            }
    
    
    
        }
    
    </script>