<div class="card">
    <div class="card-header">
        Server FPS
    </div>
    <div class="card-body">
        <h4 id="chart-fps-stats" class="card-title"></h4>

        <p class="card-text">

            <canvas id="fps-chart" width="100%"></canvas>

        </p>
    </div>
    <div id="chart-fps-footer" class="card-footer text-muted">

        <i class="fas fa-spinner fa-spin"></i> Loading
    </div>
</div>


<script>


    $(document).ready(() => {

    })


    function drawFpsChart(data) {
        const fpsChartCanvas = $("#fps-chart");
  
        if (window.fpsChart) {
                window.fpsChart.destroy()
            }
    

        window.fpsChart = new Chart(fpsChartCanvas, {
            type: 'line',
            data: {
                datasets: [
                    {
                        fill: false,
                        yAxisID: 'fps',
                        borderColor: 'rgb(0, 102, 255)',
                        backgroundColor: 'rgb(0, 102, 255)',
                        label: 'FPS',
                        data: data.map(dataPoint => {
                            return {
                                t: dataPoint.createdAt,
                                y: dataPoint.fps
                            }
                        }),
                    },
                ]
            },
            options: {
                scales: {
                    yAxes: [
                        {
                            id: 'fps',
                            type: 'linear',
                            ticks: {
                                beginAtZero: true
                            }
                        },
                    ],
                    xAxes: [{
                        type: 'time',
                    }]
                }
            }
        })

        let date = new Date();
        $("#chart-fps-footer").html(`<i class="fas fa-check"></i> Updated at ${date.toLocaleDateString()} ${date.toLocaleTimeString()} - ${data.length} data points`);

        if (data.length > 0) {
            
            let dataBeginDate = new Date(data[0].createdAt);
            let dataEndDate = new Date(data[data.length-1].createdAt);
            $("#chart-fps-stats").text(` ${dataEndDate.toDateString()} - ${dataBeginDate.toDateString()}`)
        }



    }

</script>